# Build directory (contains all build artifacts)
/build/

# Python tests may write a variety of temporary files to /test/python/tmp/
/test/python/tmp/*

# temporary version of ardopSamples.c produced by CalcTemplates.
newArdopSampleArrays.c

# python bytecode
/test/python/__pycaches__
*.pyc

# Log files
*.log

# WAVs
*.wav

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Editor garbage
/.vscode/**
